<user-panel name="{{person.name}}" collapsed="{{initialCollapsed}}" level="person.level">
  <user-address></user-address>

  <br />
  <div ng-show="!!person.friends && person.friends.length>0">
    <h4>Friends:</h4>
    <ul>
      <li ng-repeat="friend in person.friends" style="height:26px">
        {{ friend }}
        <remove-friend method="removeFriend(friend)"></remove-friend>
      </li>
    </ul>
  </div>

  <div ng-show="!!person.rank">Rank: {{ person.rank }}</div>
  <button ng-show="!person.rank" class="btn btn-success" ng-click="knigthMe(person)">Knight Me</button>
  
  <modal open="showKnightModal" 
         options="{width:'100px', left:'40px'}"
         on-close="knightDialogDone(false)">
    <div class="panel panel-primary">
      <div class="panel-heading">Jedi Knight</div>
      <div class="panel-body">
        <p>Do you want the Jedi Knight rank granted to {{ person.name }}</p>
        <div class="btn btn-success" ng-click="knightDialogDone(person)">Yes</div>
        <div class="btn btn-danger" ng-click="knightDialogDone(false)">No</div>
      </div>
    </div>
  </modal>

</user-panel>